flows.json
[{"id":"cd47f40dcee7159a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a672dc4d85f89ec0","type":"Webhook","z":"cd47f40dcee7159a","name":"","url":"/line","x":210,"y":200,"wires":[["96fc1a307a9ecadb"]]},{"id":"b918711e035e6692","type":"ReplyMessage","z":"cd47f40dcee7159a","name":"","replyMessage":"","x":720,"y":200,"wires":[]},{"id":"25b9ed6c6c767b9b","type":"change","z":"cd47f40dcee7159a","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"sticker","tot":"str"},{"t":"set","p":"payload.packageId","pt":"msg","to":"446","tot":"str"},{"t":"set","p":"payload.stickerId","pt":"msg","to":"1988","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":200,"wires":[["b918711e035e6692","1882424ec62ee6d7"]]},{"id":"1882424ec62ee6d7","type":"debug","z":"cd47f40dcee7159a","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":340,"wires":[]},{"id":"96fc1a307a9ecadb","type":"switch","z":"cd47f40dcee7159a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"スタンプ","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":320,"wires":[["25b9ed6c6c767b9b"],["b918711e035e6692"]]}]
